$Primary: #8352fd;
$Primary-second: #3913b8;

$Secondary: #00cffd;
$Secondary-second: #2fb5fc;

$Text-one: black;
$Text-two: white;

$White: #fff;

// $Background: #f2f6ff;
$Background: white;

$Neutral-dark: #1a2151;
// $Neutral-light: #e3e8ff;
$Neutral-light: #d4dbf8;
// $Neutral-light: dimgray;
