$border2: 2px solid white;

.nav-bar {
  width: 100%;
  position: fixed;
  // top: 10px;
  top: 0;
  z-index: 10;
  margin: 0 auto;
  height: 80px;
  background: transparent;
  transition: background 300ms ease-in-out;

  .nav {
    // border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
    color: $Neutral-light;
    h1 {
      cursor: pointer;
    }
    span {
      display: none;
    }
    .nav-items {
      display: none;
    }
    .nav-menu {
      height: 50px;
      width: 50px;
      display: flex;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      .menu-button {
        content: "";
        position: absolute;
        height: 2px;
        width: 40px;
        background: $Neutral-light;
        &::after,
        &::before {
          content: "";
          width: 40px;
          height: 2px;
          position: absolute;
          background: $Neutral-light;
        }
        &::after {
          transform: translateY(10px);
        }
        &::before {
          transform: translateY(-10px);
        }
      }
    }

    @media (min-width: 768px) {
      span {
        display: initial;
      }
      .nav-menu {
        display: none;
      }
      .nav-items {
        display: flex;
        // border: $border2;
        width: 350px;
        justify-content: space-between;

        p {
          align-self: center;
          cursor: pointer;
          margin: 0;
        }
      }
    }
  }
}

.nav-bar.active {
  // top: 0;
  background: $Background;
  transition: background 300ms ease-in-out;
  .nav {
    color: $Neutral-dark;
    .nav-menu {
      .menu-button {
        background: $Neutral-dark;
        &::after,
        &::before {
          background: $Neutral-dark;
        }
      }
    }
  }
  @media (min-width: 768px) {
    .nav-bar.active {
      .nav-menu {
        display: none;
      }
    }
  }
}
