@import "sass/System.scss";
@import "~bootstrap/scss/bootstrap";

$border: 2px solid black;
$border2: 2px solid white;

body {
  background: $Background;
  position: relative;
}
.container {
  padding: 0px 1rem;
  h1 {
    text-align: center;
    font-weight: 300;
    position: relative;
    // border: $border;
    margin: 25px auto;
    &::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 1px;
      background: $Secondary;
      right: 0;
      left: 0;
      bottom: -10px;
      margin: 0 auto;
    }
  }
}
.section {
  // height: 500px;
  // border: $border;
}

// Breakpoints:
// Phone: 250px - 500px
// Tablet: 768 - 1024px
// Laptops: 1200 - 1600px

.landing-section {
  // background: url("./../src/assets/fuji_day.svg");
  background: url("./../src/assets/City-night.svg");
  height: 100vh;
  position: relative;
  display: grid;
  place-content: center;

  // Parallax scrolling Effect:
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .landing-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 5, 8, 0.459);
  }

  .landing-inner {
    // border: $border2;
    // color: $Neutral-light;
    color: $White;
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
    text-align: center;
    z-index: 5;
    h1 {
      // text-transform: uppercase;
      font-weight: 800;
    }
    h3 {
      font-weight: 300;
      // color: $Secondary;
      span {
        font-size: 35px;
        font-weight: 800;
      }
    }
    p {
      font-weight: 600;
    }
    button {
      text-transform: uppercase;
      border: 2px solid $Secondary;
      padding: 5px 15px;
      border-radius: 5px;
      // background-color: #0b5264;
      background: none;
      // color: $Neutral-light;
      color: $White;
      transition: background-color 250ms ease-in-out;
      font-weight: 600;

      &:hover {
        background-color: $Secondary-second;
      }
    }
  }

  @media (min-width: 768px) {
    height: 980px;
    .flex-row {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      h3,
      h1 {
        // margin: 1rem;
        margin: 0;
      }
    }
  }
}

// About Section
.about {
  padding: 50px 1rem;
  .about-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .summary {
      text-align: center;
      p {
        letter-spacing: 1px;
        line-height: 1.4;
        span {
          color: $Secondary;
          font-weight: 400;
        }
        .contact-link {
          cursor: pointer;
        }
      }
    }
    .image-container {
      width: 350px;
      position: relative;
      overflow: hidden;
      border-radius: 5px;
      box-shadow: 0px 17px 50px -2px rgba(0, 0, 0, 0.36);
      img {
        height: 100%;
        width: 100%;
      }
      .image-overlay {
        background: rgba(0, 166, 255, 0.158);
        position: absolute;
        height: 100%;
        width: 100%;
        transition: background 350ms ease-in-out;
        &:hover {
          background: rgba(0, 0, 0, 0);
        }
      }
    }
  }

  @media (min-width: 1024px) {
    .about-inner-container {
      flex-direction: row;
      justify-content: space-evenly;
      .summary {
        width: 50%;
        text-align: left;
      }
      .image-container {
        width: 40%;
        max-width: 350px;
      }
    }
  }
}

// Service Section
.service {
  padding: 50px 0px;
  .services-container {
    // border: $border;
    display: flex;
    flex-direction: column;
    .service-box {
      border: 2px solid $Neutral-light;
      text-align: center;
      padding: 1rem;
      margin: 1rem;
      box-shadow: 0px 5px 30px -2px rgba(0, 0, 0, 0.11);
      border-radius: 5px;
      transform: scale(1);
      transition: all 150ms ease-in;

      &:hover {
        border: 2px solid $Secondary-second;
        // background: $Neutral-light;
        // cursor: pointer;
        // transform: scale(1.05);
        h3 {
          color: $Secondary-second;
        }
      }
      .icon {
        height: 100px;
        width: 100px;
        margin-top: 20px;
      }
      h3 {
        color: $Secondary-second;
        font-weight: 300;
        margin: 25px auto;
        text-transform: uppercase;
        transition: all 350ms ease-in;
      }
      p {
        letter-spacing: 1px;
        line-height: 1.4;
      }
    }
  }

  @media (min-width: 1200px) {
    .services-container {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}

// Projects Section
.projects {
  padding: 50px 0px;
  .projects-container {
    // border: 1px solid $Neutral-light;
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .project {
      // border: $border;
      width: 100%;
      // margin: 1rem;
      .title {
        text-transform: uppercase;
        color: $Secondary-second;
        font-weight: 400;
      }
      .project-box {
        display: flex;
        flex-direction: column;
        .project-left {
          height: 300px;
          // border: 2px solid $Neutral-light;
          // border-radius: 5px;
          width: 100%;
          padding: 1rem;
          box-shadow: 0px 5px 30px -2px rgba(0, 0, 0, 0.11);
          transition: all 350ms ease-in;
          position: relative;

          .flex-row {
            display: flex;
            justify-content: space-between;
            p {
              align-self: center;
              margin: 0;
            }
            .project-links {
              // border: $border;
              &:hover {
                cursor: pointer;
              }
              .folder {
                height: 30px;
                width: 30px;
                margin-left: 1rem;
              }
            }
          }

          .summary {
            margin-top: 1rem;
            letter-spacing: 1px;
            line-height: 1.4;
          }
          .technologies {
            position: absolute;
            bottom: 0;
            // border: $border;
            letter-spacing: 1px;
            line-height: 1.4;
          }
        }
        .project-right {
          height: 300px;
          position: relative;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
          .overlay {
            // background: rgba(0, 166, 255, 0.123);
            background: rgba(0, 0, 0, 0);
            position: absolute;
            height: 100%;
            width: 100%;
            transition: all 250ms ease-in-out;
            cursor: pointer;
            &:hover {
              // background: rgba(0, 0, 0, 0);
              background: rgba(1, 43, 66, 0.774);
            }
            &:hover::before {
              content: "";
              background: url("./../src/assets/demo.svg");
              background-size: contain;
              position: absolute;
              left: 0;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              margin: 0 auto;
              height: 50px;
              width: 50px;
              // border: 1px solid $White;
              color: $White;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
  @media (min-width: 1200px) {
    .projects-container {
      .project {
        .project-box {
          flex-direction: row;
          .project-left,
          .project-right {
            width: 50%;
          }
        }
        .project-box.reverse {
          flex-direction: row-reverse;
        }
      }
    }
  }
}

// Quote Container
.quote-container {
  // background: url("https://images.unsplash.com/photo-1514913322314-143ecce67140?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2002&q=80");
  background: url("./../src/assets/gate_day.svg");
  height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  display: grid;
  place-content: center;
  .quote-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 52, 80, 0.4);
  }
  h3 {
    color: $White;
    text-align: center;
    z-index: 5;
    font-weight: 300;
    font-family: "Playball", cursive;
    span {
      display: none;
      @media (min-width: 768px) {
        display: initial;
      }
    }
  }
}

// Contact Container
.contact {
  padding: 50px 0px;
  text-align: center;
  .contact-form {
    // border: $border;
    .input {
      border: 1px solid $Neutral-light;
      width: 90%;
      margin: 1rem auto;
      display: flex;
      border-radius: 5px;
      position: relative;
      img {
        height: 25px;
        width: 25px;
        margin-left: 1rem;
      }
      input,
      textarea {
        height: 100%;
        width: 100%;
        padding: 1rem;
        border: none;
        outline: none;
        resize: none;
        color: $Neutral-dark;
        border-radius: 5px;
        font-weight: 300;

        &::placeholder {
          color: $Secondary-second;
          font-weight: 300;
        }
      }
      .error {
        border: $border;
        position: absolute;
        bottom: -28px;
        left: 0;
        width: 100%;
        .error-message {
          height: 25px;
          display: flex;
          align-items: center;
        }
      }
    }
    .input.name,
    .input.email {
      height: 50px;
      align-items: center;
    }
    .input.message {
      height: 200px;
      img {
        margin-top: 1rem;
      }
    }
    .private-privacy {
      // border: $border;
      display: flex;
      width: 90%;
      height: 50px;
      margin: 0 auto;
      p {
        height: 100%;
        span {
          color: $Secondary-second;
          cursor: pointer;
        }
      }
    }
    .button-container {
      // border: $border;
      width: 90%;
      margin: 0 auto;
      position: relative;
      display: flex;
      flex-direction: row-reverse;
      .send-button {
        background: $Neutral-light;
        color: $Neutral-dark;
        border: none;
        border-radius: 5px;
        padding: 15px 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 150ms ease-in;
        img {
          height: 25px;
          width: 25px;
          margin-right: 10px;
        }
        &:hover {
          background: $Secondary-second;
        }
      }
    }
    .success-container {
      width: 90%;
      margin: 1rem auto;

      .alert {
        width: 100%;
      }
    }
  }
  @media (min-width: 768px) {
    .flex-row {
      display: flex;
      width: 90%;
      margin: 0 auto;
      .input.name {
        margin-right: 1rem;
      }
      .private-privacy,
      .button-container {
        width: 50%;
        // border: $border;
      }
    }
  }
}

// Footer
.footer {
  .footer-top {
    // background: url("https://images.unsplash.com/photo-1498429089284-41f8cf3ffd39?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
    background: url("./../src/assets/fuji.svg");
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 100%;
    position: relative;
    display: grid;
    place-content: center;
    .footer-overlay {
      height: 100%;
      width: 100%;
      position: absolute;
      // background: rgba(0, 9, 14, 0.623);
    }
    .icon-container {
      z-index: 5;
    }
  }
  .footer-bottom {
    // height: 250px;
    padding: 1rem 1rem 100px 1rem;
    width: 100%;
    background: rgb(15, 15, 15);
    .icon-container {
      // border: $border;
      width: 100%;
      padding: 25px 0;
      display: grid;
      place-content: center;
      .arrow-up-icon {
        height: 50px;
        width: 50px;
        cursor: pointer;
        color: $Neutral-light;
        transform: rotate(-90deg);
        transition: all 250ms ease-in;
        &:hover {
          color: $Secondary-second;
        }
      }
    }
    .flex-row {
      display: flex;
      width: 90%;
      max-width: 500px;
      margin: 0 auto;
    }
    .policies-container {
      justify-content: space-evenly;
      align-items: center;
      p {
        cursor: pointer;
        color: $Neutral-light;
        font-size: 16px;
        margin: 0px;
        &:hover {
          color: $Secondary-second;
        }
      }
    }
    .rights-container {
      justify-content: space-evenly;
      align-items: center;
      margin: 1rem auto;
      .copyright-icon {
        height: 18px;
        width: 18px;
        margin-right: 5px;
      }
      p {
        color: $Neutral-light;
        font-size: 16px;
        margin: 0px;
        display: flex;
        align-items: center;
      }
    }
    .social-container {
      justify-content: center;
      .social-icon {
        height: 35px;
        width: 35px;
        color: $Neutral-light;
        margin: 1rem;
        transition: all 50ms ease-in;
        transform: scale(1);
        &:hover {
          color: $Secondary-second;
          transform: scale(1.1);
        }
      }
    }
  }
}
