@import "sass/System.scss";
@import "~bootstrap/scss/bootstrap";

$border: 2px solid black;
$border2: 2px solid white;

body {
  background: $Background;
  position: relative;
}
.container {
  padding: 0px 1rem;
}
.section {
  height: 100vh;
  border: $border;
}
// Breakpoints: 
// Phone: 250px - 500px 
// Tablet: 768 - 1024px
// Laptops: 1200 - 1600px

.landing-section {
  background: url('https://images.unsplash.com/photo-1482784160316-6eb046863ece?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2700&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;

  .landing-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0,100,150, 0.4);
  }


  @media (min-width: 768px) {
    height: 980px;
  }
  
}